body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #99faff;/*#4AF*/
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}
.cantainer{
border:1px  white;
  border-radius:50px;
  background-color:#fcc2c2;
  padding:10px;
  margin:10px;
  width:300px;
  align-items:center;
  justify-content:center;
  box-shadow:0 4px 10px rgba(0,0,0,0.6);
  
  
 }
input{
  background-color:white;
  font-size:20px;
   height:10px 20px ;
  width:100%;
  border:0px solid gray;

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #99faff;/*#4AF*/
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}
.cantainer{
border:1px  white;
  border-radius:50px;
  background-color:#fcc2c2;
  padding:10px;
  margin:10px;
  width:300px;
  align-items:center;
  justify-content:center;
  box-shadow:0 4px 10px rgba(0,0,0,0.6);
  
  
 }
input{
  background-color:white;
  font-size:20px;
   height:10px 20px ;
  width:100%;
  border:0px solid gray;
  border-radius:15px;
  padding:5px 3px 5px 5px ;
  display:flex;
  outline:none;
  font-weight:bold;
  
  
  
  
  }
button{
  border: 2px solid tan;
  background-color: #E1F8F1;
  border-radius: 50px;
  padding: 10px 24px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px auto;
  display: block;
}


ul,li{
  list-style: none;
  font-size: 17px;
  padding: 10px 10px 10px 10px;
  cursor: pointer; 
  position: relative; 
  background-color: #f0f0f0;
  }
h4{
  font-weight:bold;
  text-algin:center;
}
