body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0e0e0;
}

.pawan {
  width: 300px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 25px;
  background: #3a4452;
  box-shadow: 10px 20px 10px rgba(0,0,0,0.7);
}

.pawan h2 {
  text-align: center;
  color: white;
}

.pawan input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.pawan button {
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  
}
#fP{

  color: white;

  cursor: pointer;
  font-weight: bold;

  display: block;

  width: 97%;

  margin: 0 auto;

  text-align:right;

}
#R{
  color: white;

  cursor: pointer;

  font-weight: bold;

  display: block;

  width: 90%;

 margin: 0 auto;
  
  text-align: center;
  
 height:1px;
}
